VITE_FIREBASE_API_KEY=AIzaSyDMVAhMiIxnEo3d97fd-FPeDwIm6SXRGJA
VITE_FIREBASE_AUTH_DOMAIN=claire-xiaoye.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=claire-xiaoye
VITE_FIREBASE_STORAGE_BUCKET=claire-xiaoye.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=760082118070
VITE_FIREBASE_APP_ID=1:760082118070:web:d52262fabb00894d0c3d17
VITE_FIREBASE_MEASUREMENT_ID=G-8XYSJTPFSV